<div class="box box-primary">

  <div class="box-header with-border">
    <h3 class="box-title">Thêm mới</h3>
  </div>

  <form [formGroup]="addStudentForm" (submit)="addStudent()" novalidate>
    <div class="box-body">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label>Tên nhà cung cấp</label>
            <input type="text" class="form-control" formControlName="name" placeholder="Tên nhà cung cấp"
             >
          </div>
          <div class="form-group" *ngFor="let item of subjects">
            <label>{{item.name}}</label>
            <input type="text" class="form-control"   placeholder="Mô tả">
          </div>
        </div>
      </div>


    </div>
    <div class="box-footer text-center">
      <button [routerLink]="['/students']" class="btn btn-default">Hủy</button>
      <button type="submit" [disabled]="addStudentForm.invalid" class="btn btn-success">Lưu</button>
    </div>
  </form>

</div>
